{% block keystroke %}
<h3>Enter this message:</h3>
<br>
<p style="font-size:20px;">повторим этот эксперимент несколько раз с одним и тем же оператором и посмотрим, 
  как будет изменяться статистика на этом коротком тесте. обязательно фиксируем условия, в
  которых работает оператор. желательно, чтобы сначала работал в одних и тех же условиях.
  повторим этот эксперимент несколько раз с одним и тем же оператором и посмотрим, как будет
  изменяться статистика на этом коротком тесте. обязательно фиксируем условия, в которых
  работает оператор. желательно, чтобы сначала работал в одних и тех же условиях.
  повторим этот эксперимент несколько раз с одним и тем же оператором и посмотрим, как будет
  изменяться статистика на этом коротком тесте. обязательно фиксируем условия, в которых
  работает оператор. желательно, чтобы сначала работал в одних и тех же условиях.</p> 
<div id="text_input" class="message_textarea" role="textbox" contenteditable="true" aria-multiline="true" aria-required="true" style="background: white;font-size: 26px;margin: 9px auto;"></div>
<button type="button" onclick="send_test(this)" 
                     indicator="send" 
                     class="Button"
                     style="margin: 4px auto; display: block;">SEND</button>
{% endblock keystroke %}
