{% extends 'base.html' %}
{% block content %}
<div id="log">
    <form action="/">
        <hr>
        <h2>Enter</h2>
        <span id='UploadArea'>
            <div id="name_pwd">    
                <label id="icon" for="name"><i class="icon-user"></i></label>
                <input type="text" name="name" id="name_name" placeholder="Name" required/>

                <label id="icon" for="name"><i class="icon-shield"></i></label>
                <input type="password" name="name" id="name_pass" placeholder="Password" required/>
            </div>
            <br>
            <button    type='button' id='UploadButton' class='Button'>scan</button>
        </span>
        <hr>
    </form>    
</div>
{% endblock content %}
