{% block content %}
<div id="log">
    <form action="/login/" method="POST" enctype="multipart/form-data" id="FormReg">
        {% csrf_token %}
        <hr>
        {% if username.is_authenticated %}
            <h3>CHANGE USER</h2>
        {% else %}
            <h3>ENTER USER</h2>
        {% endif %}
        <span id='UploadArea'>
            <div id="name_pwd">    
                <label id="icon" for="name"><i class="icon-user"></i></label>
                <input type="text" name="username" id="name_name" placeholder="Name" required/>

                <label id="icon" for="name"><i class="icon-shield"></i></label>
                <input type="password" name="password" id="name_pass" placeholder="Password" required/>
            </div>
            <br>
            <button type='submit' form="FormReg"  id='UploadButton' class='Button'>ENTER</button>
        </span>
        <hr>
    </form>    
</div>
{% endblock content %}
