{% block reg %}
    <div id="reg">
        <form action="/registration/" method="POST" enctype="multipart/form-data" id="FormReg">
            {% csrf_token %}
            <hr>
            <h3>REGISTRATION</h3>
            <div id="start_step_reg">
                <label id="icon" for="name"><i class="icon-user"></i></label>
                <input type="text" name="username" id="name_name" placeholder="Name" required/>

                <label id="icon" for="name"><i class="icon-shield"></i></label>
                <input type="password" name="password1" id="name_pass" placeholder="Password" required/>

                <label id="icon" for="name"><i class="icon-shield"></i></label>
                <input type="password" name="password2" id="name_pass" placeholder="Password" required/>                
            </div>
            <span id='UploadArea_reg'></span>
            <br>
            <button type='submit' id="Confirm" class='Button' onclick="Register()">CONFIRM</button>
            <hr>  
       </form>
    </div>
{% endblock reg %}
